<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration>

  <include resource="logback-appenders.xml" />

  <logger name="ch.qos.logback.more.appenders.LogbackAppenderTest" level="TRACE">
    <appender-ref ref="FLUENT" />
    <appender-ref ref="FLUENT_TEXT" />
    <appender-ref ref="FLUENCY" />
    <appender-ref ref="DYNAMODB" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
