<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration>

  <include resource="logback-appenders-aws.xml" />
  <include resource="logback-appenders-fluentd.xml" />
  <include resource="logback-appenders-std.xml" />

  <logger name="ch.qos.logback.more.appenders.LogbackAppenderTest" level="TRACE" additivity="true">
    <appender-ref ref="KINESIS" />
    <appender-ref ref="CLOUDWATCH" />
    <appender-ref ref="FLUENCY" />
    <appender-ref ref="FLUENT" />
    <appender-ref ref="SECURITY_ALERT" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
