<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<included>

  <appender name="DYNAMODB"
    class="ch.qos.logback.more.appenders.DynamoDBLogbackAppender">

    <!-- Place AwsCredentials.properties in class path. -->
    <dynamodbCredentialFilePath>AwsCredentials.properties</dynamodbCredentialFilePath>
    <!-- Tokyo -->
    <dynamodbEndpoint>dynamodb.ap-northeast-1.amazonaws.com</dynamodbEndpoint>
    <!-- Table name of DynamoDB -->
    <outputTableName>AppLog</outputTableName>
    <!-- Unique instance name for this app server instance.
         If you have multiple servers, you need to use different name for each servers. -->
    <instanceName>instance-1</instanceName>
    <!-- Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). -->
    <maxQueueSize>999</maxQueueSize>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
    </layout>
  </appender>

  <appender name="FLUENT_SYNC"
    class="ch.qos.logback.more.appenders.DataFluentAppender">

    <!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
    <tag>debug</tag>
    <!-- [Optional] Label for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
    <label>logback</label>
    <!-- Host name/address and port number which Flentd placed -->
    <remoteHost>localhost</remoteHost>
    <port>24224</port>
    <!-- Additional fields(Pairs of key: value) -->
    <additionalField>
      <key>foo</key>
      <value>bar</value>
    </additionalField>
    <additionalField>
      <key>foo2</key>
      <value>bar2</value>
    </additionalField>
  </appender>

  <appender name="FLUENT" class="ch.qos.logback.classic.AsyncAppender">
    <!-- Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). -->
    <queueSize>999</queueSize>
    <appender-ref ref="FLUENT_SYNC" />
  </appender>

  <appender name="FLUENT_TEXT_SYNC"
    class="ch.qos.logback.more.appenders.FluentLogbackAppender">
    <!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
    <tag>debug</tag>
    <!-- [Optional] Label for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
    <label>logback</label>
    <!-- Host name/address and port number which Flentd placed -->
    <remoteHost>localhost</remoteHost>
    <port>24224</port>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
    </layout>
  </appender>

  <appender name="FLUENT_TEXT" class="ch.qos.logback.classic.AsyncAppender">
    <!-- Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). -->
    <queueSize>999</queueSize>
    <appender-ref ref="FLUENT_TEXT_SYNC" />
  </appender>

  <appender name="FLUENCY" class="ch.qos.logback.more.appenders.FluencyLogbackAppender">
    <!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
    <tag>debug</tag>

    <!-- Host name/address and port number which Flentd placed -->
    <remoteHost>localhost</remoteHost>
    <port>24224</port>

    <!-- [Optional] Multiple name/addresses and port numbers which Flentd placed -->
    <remoteServers>
      <remoteServer>
        <host>primary</host>
        <port>24224</port>
      </remoteServer>
      <remoteServer>
        <host>secondary</host>
        <port>24224</port>
      </remoteServer>
    </remoteServers>

    <!-- [Optional] Configurations to customize Fluency's behavior: https://github.com/komamitsu/fluency#usage  -->
    <ackResponseMode>true</ackResponseMode>
    <fileBackupDir>/tmp</fileBackupDir>
    <bufferChunkInitialSize>2097152</bufferChunkInitialSize>
    <bufferChunkRetentionSize>16777216</bufferChunkRetentionSize>
    <maxBufferSize>268435456</maxBufferSize>
    <waitUntilBufferFlushed>30</waitUntilBufferFlushed>
    <waitUntilFlusherTerminated>40</waitUntilFlusherTerminated>
    <flushIntervalMillis>200</flushIntervalMillis>
    <senderMaxRetryCount>12</senderMaxRetryCount>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
    </layout>
  </appender>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %X{req.requestURI} %msg\n]]></pattern>
    </encoder>
  </appender>

</included>
